<%- include("partials/header") %>
<main class="px-5 py-10 max-w-3xl mx-auto  bg-white dark:bg-gray-800 rounded-xl shadow-lg m-4 ">
  <img src="<%= post.featuredImage.url %>" alt="<%= post.featuredImage.alt %>" class="w-full rounded-xl shadow-lg mb-6">
  
  <h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-4"><%= post.title %></h1>
  
  <p class="text-gray-600 dark:text-gray-300 mb-6"><%= post.metaDescription %></p>
  
  <div class="prose dark:prose-invert max-w-none text-lg">
    <%- post.content %>
  </div>

  <a href="/" class="mt-10 inline-block text-indigo-600 hover:underline text-md">&larr; Back to all Blogs</a>
</main>

<%- include("partials/footer") %>
